/* ================================================================
   Main Layout styles
   ================================================================ */

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  padding-bottom: var(--nav-height);
  overflow-y: auto;
}